*.pyc
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
env/
venv/
venv.bak/
.Python
db.sqlite3
*.sqlite3
staticfiles/
.pytest_cache/
.pytest_cache/
.coverage

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System
.DS_Store
Thumbs.db

node_modules/

# Logs
*.log

# Secrets
.env
secrets.json